streamlit==1.25.0
langchain==0.0.350
langchain-community==0.0.34
langchain-groq==0.0.1
groq==0.0.8
pytube==15.0.1
validators==0.20.0
requests==2.31.0
beautifulsoup4==4.12.2
lxml==4.9.3
youtube-transcript-api==0.5.0
yt-dlp==2025.10.25
pypdf==3.14.0
python-dotenv==1.0.0
