streamlit==1.25.0
langchain==0.0.350
langchain-community>=0.0.10
langchain-groq
groq
pytube
validators
requests
beautifulsoup4
lxml
youtube-transcript-api
yt-dlp
pypdf
python-dotenv
pillow>=10.2.0
reportlab
gTTS
